/* Page container */
.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

/* Table styles */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 10px;
}

.table th, .table td {
  padding: 10px;
  border: 1px solid #ddd;

}

.table th {
  background-color: #f4f4f4;
  color: #333;
}

/* Button styles */
.button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.heading {
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}